* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #f5f5f5;
}

header {
    width: 100%;
    background-color: rgba(181, 149, 119, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.section-divider {
    border: none;
    border-top: 1px solid black;
    width: 90%;
    margin: 0px auto;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1000;
    margin: 0 auto;
}

.logo a {
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 90px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.logo a:hover {
    color: 	#8B4513;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 18px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    transition: color 0.3s;
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.nav-links a:hover {
    color: 	#8B4513;
}
.nav-links li:last-child a {
    padding-right: 20px;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/background.jpg') no-repeat center center/cover;
    opacity: 0.85;
    z-index: 1;
}

.hero-content {
    color: white;
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 82px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.typing-animation {
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

.typing {
    animation: typing 2.5s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}




.rotating-text {
    height: 40px;
    margin-bottom: 30px;
    overflow: hidden;
}

.hero-subtitle {
    font-size: 34px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: inline-block;
    animation: slideUp 0.5s ease;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-button {
    background-color: rgba(139, 69, 19, 0.9);
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.hero-button:hover {
    background-color: #fb8500;
    /* background-color: transparent; */
    border: 2px solid white;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

section {
    padding: 100px 20px;
}

section#about,
section#experience,
section#projects,
section#blog,
section#contact {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.about {
    background-color: #fff; 
    padding: 10px 10px;
    margin-top: 0px;
}

.about-container {
    max-width: 1200px; 
    margin: 0 auto; 
}

.about-content {
    display: flex; 
    align-items: flex-start;
    justify-content: space-between; 
    gap: 40px;
    margin-left: 35px;
}

.about-text {
    flex: 1; 
    padding-right: 20px; 
    text-align: left;
}

.about-title {
    font-size: 36px; 
    margin-top: 15px; 
    margin-bottom: 20px; 
    text-align: center;
}

.about-description {
    font-size: 18px; 
    line-height: 1.6; 
    margin-bottom: 20px; 
}

.about-photo {
    flex: 1; 
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.photo {
    max-width: 85%; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.experience-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
}

.experience-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    transform: translateX(-30px);
}

.experience-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.experience-row:before {
    content: '';
    position: absolute;
    left: 44%;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #ddd;
    height: 100%;
}

.experience-left {
    flex: 1;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    text-align: right;
}

.experience-right {
    flex: 1;
    max-width: 55%;
    padding-left: 50px;
    text-align: left;
}

.experience-logo {
    width: 130px;
    height: auto;
    margin-bottom: 25px;
    display: block;
    position: relative;
    left: -65px;
}

.experience-date {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    margin-right: 11%;
}

.experience-location {
    font-size: 20px;
    font-style: italic;
    color: #555;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 19%;
   
}

.experience-job-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}

.experience-company {
    font-size: 1.6rem;
    font-weight: bold;
    
}

.experience-description {
    font-size: 1rem;
    color: #333;
    letter-spacing: 0.3px;
    line-height: 1.4;
}

.experience-row {
    margin-bottom: 50px;
}

.experience-row:nth-last-child(2) .experience-logo {
    transform: translateX(-5px);
}

.experience-row:nth-last-child(2) .experience-job-title {
    transform: translateX(15px);
}
.experience-row:nth-last-child(2) .experience-location {
    transform: translateX(20px);
}
.experience-row:nth-last-child(2) .experience-date {
    transform: translateX(5px);
}

.experience-row:last-child .experience-logo {
    width: 150px;
    display: block;
    margin-left: 0;
    margin-top: 45px;
    margin-bottom: 20px;
}

.experience-row:last-child .experience-location {
    transform: translateX(5px);
}

@media (max-width: 768px) {
    .experience-row {
        flex-direction: column;
    }

    .experience-left,
    .experience-right {
        max-width: 100%;
        flex: none;
        text-align: center;
    }

    .experience-row:before {
        display: none;
    }
}
